* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: Lato, sans-serif;
    font-weight: 300;
    color: #000000;
}


.header
{
    width: 100%;
    height: 5vh;
    background-color: black;
    padding: 0 1rem;
    position: fixed;
    z-index: 99;
    box-shadow: 0 2px 2px #3a3a3a;
    display: flex;
    align-items: baseline;
}
.sociallinks {
    display: flex;
    margin-top: 1vh;
    align-items: center;
    }

h1, h2 {
    font-family: Oswald, sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: #252525;
}

.logotype {
    margin-top: 9vh;
    width: 272px;
    margin-left: 17px;
   
}

/* navigation links */

#logo{
    float: left;
    font-size: 280%;
    margin-left: 30px;
}

/* navigation links */


.navbar.navbar-1 .navbar-toggler-icon {
    background-image: url('https://mdbootstrap.com/img/svg/hamburger6.svg?color=000');
  }

  .collapse navbar-collapse{
background-color: aliceblue;
color: #000000;
font-size: small;

  }


 navbar-nav mr-auto{
    background-color: aliceblue;
color: #000000;
font-size: small;
 }